

$black: #0e0e0f;
$forest:#1E434C;
$darkgreen: #598234;
$green:#abcb24;
$lightGrey: #f3eee7;
$darkGrey: #4c4c4d;
$grey: #ccbeba;
$pink:#b44083;
$orange:#f5a75d;

$titleFont:'Roboto-condensed', sans-serif;
$bodyFont:'Open Sans', sans-serif;
$accentFont: 'Yellowtail', sans-serif;

$playlist: 'playlist', sans-serif;
$trocchi: 'trocchi', sans-serif;






