

$black: #0e0e0f;
$forest:#1E434C;
$darkgreen: #598234;
$green:#abcb24;
$lightGrey: #fffdfc;
// $lightGrey: #f3eee7;
$darkGrey: #4c4c4d;
$grey: #ccbeba;
$pink:#b44083;
$orange:#f5a75d;

$roboto:'Roboto-condensed', Arial, sans-serif;
$OpenSans:'Open Sans', Arial, sans-serif;


$playlist: 'playlist', Arial, sans-serif;
$trocchi: 'trocchi', Arial, sans-serif;






