


$green: #B2C82B;
$lightGrey: #fffdfc;
$darkGrey: #171a17;
$grey: #9c9896;
$mediumGrey:#E5DEE1;
$pink:#b44083;
$orange:#f5a75d;

$roboto:'Roboto-condensed', Arial, sans-serif;
$OpenSans:'Open Sans', Arial, sans-serif;


$playlist: 'playlist', Arial, sans-serif;
$trocchi: 'trocchi', Arial, sans-serif;






