@use 'reset';
@use 'variables' as v;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.bunny.net/css?family=open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|roboto-condensed:300,300i,400,400i,700,700i|yellowtail:400);

@font-face {
  font-family: 'playlist';
  src: url('../assets/fonts/Playlist\ Script.otf') format('opentype');
}

@font-face {
  font-family: 'trocchi';
  src: url('../assets/fonts/Trocchi.ttf') format('truetype');
}