@import '../../styles/variables';

.slider-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  
}

.slider-image.second-previous, .slider-image.fourth-next {
    display: none; 
  }

.slider-container img{
  height: 40px;
  width: auto;
  margin-top: 0;
  margin-bottom: 10px
}


.slider-image{
  flex-basis: 33.33%;
}

@media (min-width: 900px){
  .slider-image.second-previous, .slider-image.fourth-next {
    display: block; 
  }

  .slider-container img{
    height: 80px;
    width: auto;
    
  }

}
