@import '../../styles/variables';

img{
  margin: auto;
  width: auto;

}


.home-container{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:$lightGrey;
  margin: 0 5px;
  cursor: pointer;
}

.slider-dot.active {
  background-color: $darkGrey;
}

blockquote{
  text-transform: uppercase;
  font-size: .8em;
  padding-bottom: 20px;
  margin-top: 20px;

}


.automaticSlider-container{
  margin-bottom:20px;
  margin-top:20px;
}

.qualities-container {
  width: 100vw;
  background-color: $lightGrey;
  color: $darkGrey;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  
}

.quality {
  width: 50%;
  padding: 20px;
}


.introduction-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.text-container, .automaticSlider-container {
  flex: 0 0 100%; /* Les éléments prennent 100% de la largeur par défaut */
}


@media (min-width: 900px) {


  .introduction-section{
    flex-direction: row;
    flex-wrap:wrap;
  }

  .text-container, .automaticSlider-container{
    flex: 0 0 45%; /* Les éléments prennent 45% de la largeur à partir de 900px */
    margin: 20px;
  }


  .accroche{
    padding-top: 20px;
    font-size: 1em;
  }


  .quality {
    width: 25%;
  }


}

@media screen and (min-width: 1200px) {
}

