@import '../../styles/variables';

img{
  margin: auto;
  width: auto;

}


.home-container{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.home-introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.introduction-text h1{
  font-family: $playlist;
  font-size: 2.5em;
  text-align: center;
}


.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:$lightGrey;
  margin: 0 5px;
  cursor: pointer;
}

.slider-dot.active {
  background-color: $darkGrey;
}

blockquote{
  text-transform: uppercase;
  font-size: .8em;
  padding-bottom: 20px;
  margin-top: 20px;

}

.horaire-container p, .address p {
  text-align: center;
}

.qualities-container {
  width: 100vw;
  background-color: $lightGrey;
  color: $darkGrey;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  
}

.quality {
  width: 50%;
  padding: 20px;
}

@media screen and (min-width: 900px) {

.accroche{
  padding-top: 20px;
  font-size: 1em;
}


.home-introduction{
 
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  margin: auto;
 
}

.home-introduction img{

  max-width: 500px;
  padding-left: 50px;
}

.introduction-text{
  width: 50%;

}



.quality {
  width: 25%;
}

 

}

@media screen and (min-width: 1200px) {
 
  .home-introduction{
    margin-top: 30px;
   
  }
  
}