@import '../../styles/variables';

hearder{
display: flex;
}


.header-logo img{
  width: 150px ;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px
  
}

header p{
  text-align: center;
  margin-top: 10px;
  font-size: .8em;
  padding-right: 20px;
  padding-left: 20px;
 
}

.header-burger{
  display: block;
  cursor: pointer;
  border-radius: 50%;
  background-color: $black;
  width: 40px;
  height: 40px;
  position: absolute; 
    top: 20px; 
    right: 20px; 
    z-index: 1100;

}

.barres {
  width: 21px;
  height: 2px;
  background-color: $lightGrey;
  display: block;
  transition: all 0.2s;
  margin-left: 9px;
  
}

.barre-millieu {
  margin-top: 4px;
  margin-bottom: 4px;

}

.header-nav{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: $darkGrey;
  font-weight: 800;
  text-align: center;
  line-height: 5em;
  height: 50vh;

}