@import '../../styles/variables';
.footer-container{
  background-color: $lightGrey;
  color: $darkGrey;
}
.icon{
  width: 30px;
  height: 30px;

}

address{  
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

address, p{
  text-align: center;
}


.horaire-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.horaire-container p{
  font-size: 1em;
  font-family: $trocchi;
  width: 300px;
  margin-top: 0;
}


address {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.phone, .email, .rs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.rs img{
  margin-right: 30px;
}

.footer-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $lightGrey;
  font-size: .8em;
  text-transform: uppercase;
}

