@import '../../styles/variables';

.illustration-slider{
  margin-bottom: 10px;
}

@media screen and (min-width: 900px) {
  .paints-container{
  
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    margin-top:50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-around;
  
  }

  .paints-container img{

    width: 100%;
    padding-right: 20px;
   
  }

  .paints-text{
    width: 100%;

  }

  .text-container, .illustration-slider{
    align-self: center;
    justify-self: center;

  }
}

